In [1]:
#instalacja paczki
!pip install ./kod

Processing ./kod
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from NYPD-paczka==0.0.1) (1.23.5)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from NYPD-paczka==0.0.1) (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas->NYPD-paczka==0.0.1) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas->NYPD-paczka==0.0.1) (2022.6)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->NYPD-paczka==0.0.1) (1.16.0)
Installing collected packages: NYPD-paczka
  Attempting uninstall: NYPD-paczka
    Found existing installation: NYPD-paczka 0.0.1
    Uninstalling NYPD-paczka-0.0.1:
      Successfully uninstalled NYPD-paczka-0.0.1
  DEPRECATION: NYPD-paczka is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  Running setup.py install for NYPD-paczka ... done
Successfully installed NYPD-paczka-0.0.1

In [6]:
#import paczki oraz argparse (żeby sprawdzić na danych plikach)
import paczka
import argparse as ap

In [7]:
parser = ap.ArgumentParser()
parser.add_argument("GDP")
parser.add_argument("Population")
parser.add_argument("Emissions")
parser.add_argument("rangemin")
parser.add_argument("rangemax")
args = parser.parse_args(["./GDP/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4751562.csv",
                  "./population/API_SP.POP.TOTL_DS2_en_csv_v2_4751604.csv",
                  "./CO2/data/fossil-fuel-co2-emissions-by-nation_csv.csv",
                  "1980",
                  "2005"])

In [8]:
#wczytanie plików
gdp, pop, co2, rangemin, rangemax = paczka.wczytaj_dane(args)

AttributeError: module 'paczka' has no attribute 'wczytaj_dane'

In [82]:
#sprawdzenie wczyplików oraz zakresu lat
display(gdp.head(), pop.head(), co2.head(), rangemin, rangemax)

,Country Name,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
0,Aruba,4.536263e+11,4.637877e+11,4.548647e+11,4.546434e+11,4.642927e+11,4.802098e+11,4.055866e+08,4.877095e+08,5.966480e+08,...,1.379888e+09,1.531844e+09,1.665363e+09,1.722905e+09,1.873184e+09,1.896648e+09,1.962011e+09,2.044134e+09,2.254749e+09,2.359777e+09
1,Africa Eastern and Southern,1.706543e+11,1.743870e+11,1.672663e+11,1.749180e+11,1.601340e+11,1.362973e+11,1.525183e+11,1.861446e+11,2.041398e+11,...,2.684137e+11,2.821850e+11,2.658141e+11,2.621722e+11,2.839254e+11,2.588186e+11,2.648698e+11,3.526585e+11,4.388338e+11,5.122111e+11
2,Afghanistan,3.641723e+09,3.478788e+09,4.548647e+11,4.546434e+11,4.642927e+11,4.802098e+11,5.560639e+11,6.163395e+11,6.786112e+11,...,9.817832e+11,9.806865e+11,9.698224e+11,9.925718e+11,1.009219e+12,1.002343e+12,4.055180e+09,4.515559e+09,5.226779e+09,6.209138e+09
3,Africa Western and Central,1.120313e+11,2.110035e+11,1.871637e+11,1.381152e+11,1.142627e+11,1.165073e+11,1.074975e+11,1.103218e+11,1.089435e+11,...,1.257630e+11,1.270639e+11,1.301068e+11,1.375210e+11,1.404103e+11,1.480128e+11,1.769380e+11,2.046445e+11,2.540926e+11,3.105575e+11
4,Angola,5.930503e+09,5.550483e+09,5.550483e+09,5.784342e+09,6.131475e+09,7.553560e+09,7.072063e+09,8.083872e+09,8.769251e+09,...,7.526447e+09,7.648377e+09,6.506230e+09,6.152923e+09,9.129595e+09,8.936064e+09,1.528559e+10,1.781270e+10,2.355205e+10,3.697092e+10

,Country Name,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
0,Aruba,60097.0,60561.0,61341.0,62213.0,62826.0,63024.0,62645.0,61838.0,61072.0,...,83211.0,85450.0,87280.0,89009.0,90866.0,92892.0,94992.0,97016.0,98744.0,100028.0
1,Africa Eastern and Southern,227305945.0,234058404.0,240999134.0,248146290.0,255530063.0,263161451.0,271050065.0,279184536.0,287524258.0,...,358953595.0,368440591.0,378098393.0,387977990.0,398113044.0,408522129.0,419223717.0,430246635.0,441630149.0,453404076.0
2,Afghanistan,13356500.0,13171679.0,12882518.0,12537732.0,12204306.0,11938204.0,11736177.0,11604538.0,11618008.0,...,18853444.0,19357126.0,19737770.0,20170847.0,20779957.0,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0
3,Africa Western and Central,155882270.0,160223588.0,164689764.0,169279422.0,173991851.0,178826553.0,183785612.0,188868567.0,194070079.0,...,240114179.0,246613750.0,253302310.0,260170348.0,267214544.0,274433894.0,281842480.0,289469530.0,297353098.0,305520588.0
4,Angola,8341290.0,8640478.0,8952971.0,9278104.0,9614756.0,9961993.0,10320116.0,10689247.0,11068051.0,...,14400722.0,14871572.0,15359600.0,15866871.0,16395477.0,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0

,Year,Country,Total,Solid Fuel,Liquid Fuel,Gas Fuel,Cement,Gas Flaring,Per Capita,Bunker fuels (Not in Total)
10020,1980,AFGHANISTAN,480,86,252,51,7,83,0.03,13
10021,1980,ALBANIA,1410,634,429,211,136,0,0.53,0
10022,1980,ALGERIA,18140,439,5082,6954,565,5100,0.96,581
10023,1980,ANGOLA,1458,0,725,40,33,659,0.19,329
10024,1980,ANTIGUA & BARBUDA,39,0,39,0,0,0,0.56,47

1980

2005

In [64]:
lata = lata_scal(gdp, pop, co2, rangemin, rangemax)
lata

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005']

In [70]:
gdp, pop, co2 = przerob(gdp, pop, co2, lata)
display(gdp.head(), pop.head(), co2.head())

,Country Name,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,4.055866e+08,4.877095e+08,5.966480e+08,...,1.379888e+09,1.531844e+09,1.665363e+09,1.722905e+09,1.873184e+09,1.896648e+09,1.962011e+09,2.044134e+09,2.254749e+09,2.359777e+09
1,Africa Eastern and Southern,1.706543e+11,1.743870e+11,1.672663e+11,1.749180e+11,1.601340e+11,1.362973e+11,1.525183e+11,1.861446e+11,2.041398e+11,...,2.684137e+11,2.821850e+11,2.658141e+11,2.621722e+11,2.839254e+11,2.588186e+11,2.648698e+11,3.526585e+11,4.388338e+11,5.122111e+11
2,Afghanistan,3.641723e+09,3.478788e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.055180e+09,4.515559e+09,5.226779e+09,6.209138e+09
3,Africa Western and Central,1.120313e+11,2.110035e+11,1.871637e+11,1.381152e+11,1.142627e+11,1.165073e+11,1.074975e+11,1.103218e+11,1.089435e+11,...,1.257630e+11,1.270639e+11,1.301068e+11,1.375210e+11,1.404103e+11,1.480128e+11,1.769380e+11,2.046445e+11,2.540926e+11,3.105575e+11
4,Angola,5.930503e+09,5.550483e+09,5.550483e+09,5.784342e+09,6.131475e+09,7.553560e+09,7.072063e+09,8.083872e+09,8.769251e+09,...,7.526447e+09,7.648377e+09,6.506230e+09,6.152923e+09,9.129595e+09,8.936064e+09,1.528559e+10,1.781270e+10,2.355205e+10,3.697092e+10

,Country Name,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
0,Aruba,60097.0,60561.0,61341.0,62213.0,62826.0,63024.0,62645.0,61838.0,61072.0,...,83211.0,85450.0,87280.0,89009.0,90866.0,92892.0,94992.0,97016.0,98744.0,100028.0
1,Africa Eastern and Southern,227305945.0,234058404.0,240999134.0,248146290.0,255530063.0,263161451.0,271050065.0,279184536.0,287524258.0,...,358953595.0,368440591.0,378098393.0,387977990.0,398113044.0,408522129.0,419223717.0,430246635.0,441630149.0,453404076.0
2,Afghanistan,13356500.0,13171679.0,12882518.0,12537732.0,12204306.0,11938204.0,11736177.0,11604538.0,11618008.0,...,18853444.0,19357126.0,19737770.0,20170847.0,20779957.0,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0
3,Africa Western and Central,155882270.0,160223588.0,164689764.0,169279422.0,173991851.0,178826553.0,183785612.0,188868567.0,194070079.0,...,240114179.0,246613750.0,253302310.0,260170348.0,267214544.0,274433894.0,281842480.0,289469530.0,297353098.0,305520588.0
4,Angola,8341290.0,8640478.0,8952971.0,9278104.0,9614756.0,9961993.0,10320116.0,10689247.0,11068051.0,...,14400722.0,14871572.0,15359600.0,15866871.0,16395477.0,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0

,Year,Country,Total,Solid Fuel,Liquid Fuel,Gas Fuel,Cement,Gas Flaring,Per Capita,Bunker fuels (Not in Total)
10020,1980,AFGHANISTAN,480,86,252,51,7,83,0.03,13
10021,1980,ALBANIA,1410,634,429,211,136,0,0.53,0
10022,1980,ALGERIA,18140,439,5082,6954,565,5100,0.96,581
10023,1980,ANGOLA,1458,0,725,40,33,659,0.19,329
10024,1980,ANTIGUA & BARBUDA,39,0,39,0,0,0,0.56,47

In [77]:
gdp, pop, co2 = oczysc(gdp, pop, co2)
display(gdp.head(), pop.head(), co2.head())

,Country Name,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
0,Aruba,4.536263e+11,4.637877e+11,4.548647e+11,4.546434e+11,4.642927e+11,4.802098e+11,4.055866e+08,4.877095e+08,5.966480e+08,...,1.379888e+09,1.531844e+09,1.665363e+09,1.722905e+09,1.873184e+09,1.896648e+09,1.962011e+09,2.044134e+09,2.254749e+09,2.359777e+09
1,Africa Eastern and Southern,1.706543e+11,1.743870e+11,1.672663e+11,1.749180e+11,1.601340e+11,1.362973e+11,1.525183e+11,1.861446e+11,2.041398e+11,...,2.684137e+11,2.821850e+11,2.658141e+11,2.621722e+11,2.839254e+11,2.588186e+11,2.648698e+11,3.526585e+11,4.388338e+11,5.122111e+11
2,Afghanistan,3.641723e+09,3.478788e+09,4.548647e+11,4.546434e+11,4.642927e+11,4.802098e+11,5.560639e+11,6.163395e+11,6.786112e+11,...,9.817832e+11,9.806865e+11,9.698224e+11,9.925718e+11,1.009219e+12,1.002343e+12,4.055180e+09,4.515559e+09,5.226779e+09,6.209138e+09
3,Africa Western and Central,1.120313e+11,2.110035e+11,1.871637e+11,1.381152e+11,1.142627e+11,1.165073e+11,1.074975e+11,1.103218e+11,1.089435e+11,...,1.257630e+11,1.270639e+11,1.301068e+11,1.375210e+11,1.404103e+11,1.480128e+11,1.769380e+11,2.046445e+11,2.540926e+11,3.105575e+11
4,Angola,5.930503e+09,5.550483e+09,5.550483e+09,5.784342e+09,6.131475e+09,7.553560e+09,7.072063e+09,8.083872e+09,8.769251e+09,...,7.526447e+09,7.648377e+09,6.506230e+09,6.152923e+09,9.129595e+09,8.936064e+09,1.528559e+10,1.781270e+10,2.355205e+10,3.697092e+10

,Country Name,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005
0,Aruba,60097.0,60561.0,61341.0,62213.0,62826.0,63024.0,62645.0,61838.0,61072.0,...,83211.0,85450.0,87280.0,89009.0,90866.0,92892.0,94992.0,97016.0,98744.0,100028.0
1,Africa Eastern and Southern,227305945.0,234058404.0,240999134.0,248146290.0,255530063.0,263161451.0,271050065.0,279184536.0,287524258.0,...,358953595.0,368440591.0,378098393.0,387977990.0,398113044.0,408522129.0,419223717.0,430246635.0,441630149.0,453404076.0
2,Afghanistan,13356500.0,13171679.0,12882518.0,12537732.0,12204306.0,11938204.0,11736177.0,11604538.0,11618008.0,...,18853444.0,19357126.0,19737770.0,20170847.0,20779957.0,21606992.0,22600774.0,23680871.0,24726689.0,25654274.0
3,Africa Western and Central,155882270.0,160223588.0,164689764.0,169279422.0,173991851.0,178826553.0,183785612.0,188868567.0,194070079.0,...,240114179.0,246613750.0,253302310.0,260170348.0,267214544.0,274433894.0,281842480.0,289469530.0,297353098.0,305520588.0
4,Angola,8341290.0,8640478.0,8952971.0,9278104.0,9614756.0,9961993.0,10320116.0,10689247.0,11068051.0,...,14400722.0,14871572.0,15359600.0,15866871.0,16395477.0,16945753.0,17519418.0,18121477.0,18758138.0,19433604.0

,Year,Country,Total,Solid Fuel,Liquid Fuel,Gas Fuel,Cement,Gas Flaring,Per Capita,Bunker fuels (Not in Total)
10020,1980,AFGHANISTAN,480,86,252,51,7,83,0.03,13
10021,1980,ALBANIA,1410,634,429,211,136,0,0.53,0
10022,1980,ALGERIA,18140,439,5082,6954,565,5100,0.96,581
10023,1980,ANGOLA,1458,0,725,40,33,659,0.19,329
10024,1980,ANTIGUA & BARBUDA,39,0,39,0,0,0,0.56,47

In [78]:
dane = scal(gdp, pop, co2)
display(dane.head())

,Country,Year,GDP,Population,Total,Solid Fuel,Liquid Fuel,Gas Fuel,Cement,Gas Flaring,Per Capita,Bunker fuels (Not in Total)
0,AFGHANISTAN,1980,3.641723e+09,13356500.0,480,86,252,51,7,83,0.03,13
1,ANGOLA,1980,5.930503e+09,8341290.0,1458,0,725,40,33,659,0.19,329
2,ALBANIA,1980,4.536263e+11,2671997.0,1410,634,429,211,136,0,0.53,0
3,UNITED ARAB EMIRATES,1980,4.359875e+10,1019507.0,10064,0,2460,2395,234,4976,9.90,507
4,ARGENTINA,1980,7.696192e+10,27896532.0,29653,782,20881,5340,970,1680,1.05,383

In [76]:
display(max_co2_per_capita(dane))

                        Country  Per Capita  Total
Year
1980 124                  QATAR       16.12   3572
     15                 BAHAMAS       10.35   2179
     21       BRUNEI DARUSSALAM        9.91   1877
     3     UNITED ARAB EMIRATES        9.90  10064
     90              LUXEMBOURG        8.26   3007
...                         ...         ...    ...
2005 4591                 QATAR       16.93  13896
     4544                KUWAIT        8.62  19511
     4618   TRINIDAD AND TOBAGO        7.91  10404
     4449  UNITED ARAB EMIRATES        7.78  31674
     4444                 ARUBA        7.34    742

[130 rows x 3 columns]

In [75]:
display(max_gdp_per_capita(dane))

                          Country  GDP per capita           GDP
Year
1980 112                    NAURU    5.852488e+07  4.536263e+11
     153   BRITISH VIRGIN ISLANDS    3.954549e+07  4.536263e+11
     38            CAYMAN ISLANDS    2.798953e+07  4.536263e+11
     56                 GIBRALTAR    1.508668e+07  4.536263e+11
     52             FAROE ISLANDS    1.046693e+07  4.536263e+11
...                           ...             ...           ...
2005 4578                   NAURU    1.458587e+08  1.436416e+12
     4630  BRITISH VIRGIN ISLANDS    6.216638e+07  1.436416e+12
     4511               GIBRALTAR    4.323690e+07  1.436416e+12
     4488          CAYMAN ISLANDS    2.915930e+07  1.436416e+12
     4590        FRENCH POLYNESIA    5.550724e+06  1.436416e+12

[130 rows x 3 columns]

In [74]:
gora, dol = co2_change_per_capita(dane)

In [73]:
display(gora)

Year                 1995  2005  change
Country
TRINIDAD AND TOBAGO  3.68  7.91    4.23
EQUATORIAL GUINEA    0.08  2.11    2.03
ARUBA                5.66  7.34    1.68
SEYCHELLES           0.73  2.26    1.53
OMAN                 1.94  3.36    1.42

In [72]:
display(dol)

Year               1995  2005  change
Country
SINGAPORE          3.30  1.94   -1.36
NAURU              2.94  1.66   -1.28
BRUNEI DARUSSALAM  4.51  3.76   -0.75
DENMARK            2.98  2.37   -0.61
KUWAIT             9.18  8.62   -0.56